@charset "utf-8";
/* CSS Document */
#PaginaInicio
{
background:#CC6;
color:#36F;
}
#titulo
{
background:#39F;
}
#titulo2
{
background:#39F;
}
#PiePagina
{
background:#39F;
}
#fondo
{
background:#FFF;
}